.alchol-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ffd84b;
}

.alchol-slogan > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 90px;
}

.alchol-button {
  position: relative;
  margin-top: 100px;
}

.alchol-img {
  position: relative;
}
.alchol-img > img {
  position: relative;
  width: 100%;
  object-fit: contain;
}

.alchol-button > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
}
.alchol-button > a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ff005e;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}
.alchol-button > a:hover:before {
  transform: translatey(0) rotatex(0deg);
}

.alchol-button > a:after {
  content: attr(data-text-after);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ea004f;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}
.alchol-button > a:hover:after {
  transform: translatey(100%) rotatex(90deg);
}

#myButton.clicked {
  animation: myAnimation 1s linear;
}

@keyframes myAnimation {
  0% {
    transform: translatey(0) rotatex(0deg);
  }
  50% {
    transform: translatey(100%) rotatex(90deg);
  }
  100% {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: black;
    color: #fff;
    transition: 0.5s;
    transform-origin: top;
    transform: translatey(0) rotatex(0deg);
  }
}
