@value sock-brown, sock-nagative, sock-yellow, white-color  from './common/colors.css';
.comment-container {
  margin: 10px 0px;
}

.comment-item {
  margin: 10px 0px;
}
.member-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment-write {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comment-write > textarea {
  border-radius: 5px;
  padding: 3px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.comment-write > button {
  background-color: sock-brown;
  height: 24px;
  width: 15%;
  color: white-color;
  border-radius: 4px;
}

.member-data {
  display: flex;
  align-items: center;
}

.member-data > img {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 5px;
}

.comment-data {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  color: sock-nagative;
  float: right;
}

/* 별점 관련 */
.star {
  display: flex;
  margin-top: 4px;
}
.star > div > svg {
  color: sock-yellow;
}

/* 댓글 관련 */
.comment-content {
  margin-top: 6px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
