@value sock-brown, sock-yellow, white-color  from './common/colors.css';

.question {
  /* display: flex; */
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}

.answer {
  display: flex;
  /* margin: 0 auto; */
}

.answerItem {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  width: 300px;
  height: 80px;
  margin-right: 10px;
  border-radius: 15px;
  white-space: pre-wrap;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question_img{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}