@value sock-brown, sock-yellow, white-color  from './common/colors.css';
.primary {
  padding: 1rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  column-gap: 2%;
}
.card-item {
  margin-bottom: 2rem;
  background: inherit;
  border-radius: 30px;
}
.card-image {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.card-image::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.card-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 과자 */
.snack-grade {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.snack-grade > svg {
  color: sock-yellow;
}
.snack-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort {
  display: flex;
  justify-content: end;
}

.sort > button {
  margin-left: 5px;
}

.bold {
  font-weight: 700;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.theme-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-container > h1 {
  font-weight: 700;
  font-size: 20px;
}

/* 레시피 */
.recipe-info {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.member-data {
  width: 80%;
  display: inline-flex;
  align-items: center;
  margin: 8px 0px;
}

.member-image {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.member-image::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.member-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.member-data > p {
  font-size: 15px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recipe-info > svg {
  color: rgb(255, 119, 119);
}
.snack-info > svg {
  color: rgb(255, 119, 119);
}

/* 레시피 작성 버튼 */
.write-btn {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: sock-brown;
  position: fixed;
  right: 4vw;
  bottom: 70px;
  color: white-color;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 영화테마 */
.movie-header {
  width: 100%;
  background-color: #000;
  color: white-color;
  text-align: center;
}

.movie-logo {
  height: 200px;
  position: relative;
}
.movie-logo > img:first-child {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0);
}
.movie-logo > img:last-child {
  position: absolute;
  top: 0;
  left: 50%;
  height: 250%;
  transform: translate(-50%, -12%);
}
