@value sock-brown, white-color  from './common/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.ad-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 14px;
}
.recommend {
  background-color: sock-brown;
  color: white-color;
  margin-top: 10px;
}

.theme {
  width: 100%;
  text-align: center;
  border: 1px solid sock-brown;
}

.theme-list {
  display: flex;
  justify-content: center;
}

.theme-item {
  display: inline-block;
  margin: 10px;
  padding: 10px 3px;
  width: 90px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: sock-brown;
  border-radius: 15px;
}

.theme-item > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 5px;
}

.theme-item > p {
  color: white-color;
  font-size: 10px;
  text-align: center;
  display: flex;
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.mySwiper {
  width: 90%;
}

.recommend-container {
  padding: 80px 0px;
  background-color: #fff;
  height: 90vh;
}

.recommend-container > h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 53px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide > p {
  margin-bottom: 50px;
}

.more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: sock-brown;
  margin-left: 2vw;
  font-size: 12px;
}
.more-container svg {
  margin-top: 3px;
}

.opacity {
  opacity: 0;
  transition: all 1s;
}
.outer {
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.bg-yellow {
  background-color: #f7f6cf;
}

.bg-blue {
  background-color: #b6d8f2;
}

.bg-pink {
  background-color: #f4cfdf;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}
