.milk-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #284d82;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.milk-letter {
  width: 200px;
  margin: 0 auto;
}

.milk-letter > img {
  width: 100%;
  object-fit: contain;
}
.milk-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.milk-main > img {
  width: 100%;
  object-fit: contain;
  max-width: 400px;
}

.milk-text-container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0d0d0;
  padding: 30px 0px 20px 0px;
}

.milk-text-container > h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.milk-text-container > button {
  background-image: linear-gradient(to right, #284d82, #4481eb, #284d82, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-color: aqua;
}

.more-button {
  margin: 10%;
  text-align: center;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.more-button:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.more-button:focus {
  outline: none;
}
