.mySwiper {
  width: 300px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.theme-container {
  padding: 80px 0px;
  background-color: #fff;
  height: 100vh;
  background-image: url('/src/assets/home/movie_side.png');
  background-size: cover;
}

.theme-container > h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 53px;
}

.black {
  background-color: black;
}

.font-white {
  color: #fff;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.movie-main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.movie-main > img {
  width: 100%;
  object-fit: contain;
}

.movie-lego {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* bottom: 0; */
}
.movie-lego > img {
  margin-top: 100px;
  object-fit: contain;
  width: 200px;
}
