.notfound-container {
  box-sizing: border-box;
  background-color: #85c6ff;
  height: 100vh;
  color: #333333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.error > img {
  width: 100%;
  object-fit: contain;
  max-width: 600px;
}

.error-txt {
  display: flex;
  flex-direction: column;
}

.error-txt > img {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.error-txt > h2 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 71.09px;
  letter-spacing: -3.5%;
  margin: 26px 0;
}

.error-txt > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.error-txt > p {
  padding: 0px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 45px;
  width: 216px;
  height: 68px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
  text-decoration: none;
  color: #333333;
  background-color: #fcc660;
  text-decoration: none;
  margin: auto;
  padding: 20px;
}

.footer {
  margin-top: 10px;
  margin-bottom: 50px;
}

.footer-text,
.footer-text a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.3s ease;
  text-align: center;
}

.footer-text a:hover,
.footer-text a:focus {
  color: #ff6d5b;
}

@media (min-width: 1024px) {
  body {
    justify-content: space-around;
  }

  header,
  main,
  footer {
    max-width: 1200px;
  }

  .notfound-title,
  .error__msg {
    color: #333333;
  }

  .error-txt {
    max-width: 586px;
  }

  .error-txt h2 {
    font-size: 4rem;
    line-height: 95px;
  }

  .error-txt p {
    width: 381px;
  }
}

/* 메인화면 관련 */
.sock-logo {
  width: 400px;
  margin-bottom: 20px;
}
