@value sock-background, sock-line, sock-brown, white-color  from './common/colors.css';
.profile-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 50vh;
  background-color: sock-background;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
}
.input-container > p {
  margin-right: 5px;
}

.input-container > input {
  background-color: inherit;
  border-bottom: 1px solid sock-brown;
  width: 180px;
  font-size: 16px;
}

.textarea-container {
  display: flex;
  width: 100%;
  padding: 15px;
}
.textarea-container > p {
  margin-right: 21px;
}
.textarea-container > textarea {
  background-color: inherit;
  border-bottom: 1px solid sock-brown;
  width: 180px;
  font-size: 16px;
}

.modify-button {
  background-color: sock-brown;
  padding: 3px 5px;
  color: white-color;
  border-radius: 3px;
}
