@value sock-brown, sock-nagative, sock-yellow, white-color  from './common/colors.css';
.header-container {
  width: 100%;
  height: 150px;
  background-color: sock-brown;
  border-radius: 0px 0px 30px 30px;
  padding: 10px 30px;
}
.member-info {
  display: flex;
  max-width: 380px;
  margin: 0 auto;
}

.member-img {
  margin-right: 20px;
}
.member-img > img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

.member-detail {
  width: 100%;
  color: white-color;
  margin-top: 15px;
}

.nickname {
  margin-bottom: 3px;
  width: 53vw;
}

.nickname > h1 {
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.email {
  font-size: 8px;
  color: sock-nagative;
  margin-bottom: 5px;
}

.menu {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex: 1 1 0px;
}

.menu > button {
  flex-grow: 1;
  padding: 10px 5px;
}

.menu-active {
  border-bottom: 2px solid sock-brown;
  font-weight: 700;
}
/* 그리드 */

.primary {
  margin: 20px auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  column-gap: 2%;
  row-gap: 4%;
}

.card-image {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.card-image::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}
.card-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.edit {
  color: white-color;
}

.more-btn-container {
  display: flex;
  justify-content: end;
  background-color: sock-brown;
}

.more-btn-container > button {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

/* grade */
.grade-sbti {
  display: flex;
  align-items: center;
}
.grade-sbti > img:first-child {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transform: translate(50%, 50%) scale(3.5);
  margin-right: 15px;
}
.grade-sbti > img:last-child {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transform: translate(50%, 50%) scale(1.2);
}
