@value sock-brown, white-color  from './common/colors.css';
.posting-btn {
  float: right;
  width: 70px;
  background-color: sock-brown;
  color: white-color;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 14px;
}

.upload-container {
  width: 100%;
  height: 80vh;
  border: 2px solid sock-brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.image-regist-btn {
  width: 100px;
  height: 100px;
}

.photo-list-container {
  overflow-x: auto;
  white-space: nowrap;
}
/* .photo-list-container::-webkit-scrollbar {
  display: none;
} */

.crop-paper {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}

.recipe-paper {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}
.recipe-paper::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.recipe-img {
  object-fit: contain;
}

/* swiper */
.mySwiper {
  width: 300px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 제목 */
.write-title {
  background-color: inherit;
  padding: 3px;
  width: 100%;
  border-bottom: 1px solid sock-brown;
  border-radius: 0px;
  font-weight: 700;
  font-size: larger;
  margin: 0 auto;
}
.write-content {
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  height: 30vh;
}

/* 태그 관련 */
.tag-container {
  width: 100%;
  display: inline-flex;
  white-space: nowrap;
  overflow-x: auto;
  align-items: center;
  padding: 6px 8px;
  border-radius: 10px;
  margin-right: 4px;
}

.tag-container > p {
  font-size: 20px;
  margin-right: 4px;
}

.tag-list {
  margin: 10px 0px;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-flex;
  width: 100%;
}

.tag-list::-webkit-scrollbar {
  display: none;
}

.color-brown {
  color: sock-brown;
}

.add-btn {
  width: 20px;
  height: 20px;
}
