@value sock-brown, white-color  from './common/colors.css';
.member-data {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.member-data > img {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  object-fit: cover;
}
.member-data > p {
  font-size: 15px;
}

.recipe-like {
  display: flex;
  align-items: center;
}
.recipe-paper {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}
.recipe-paper::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.recipe-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 14px;
  background-color: sock-brown;
  color: white-color;
}

/* 태그 관련 */
.tag-list {
  margin: 10px 0px;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-flex;
}

.tag-list::-webkit-scrollbar {
  display: none;
}

.tag-container {
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 10px;
  background-color: sock-brown;
  margin-right: 4px;
}
.tag-container > img {
  width: 21px;
  height: 21px;
  border-radius: 3px;
  object-fit: cover;
  margin-right: 4px;
}
.tag-container > p {
  color: white-color;
}

/* 레시피 내용 관련 */
.recipe-content {
  padding: 5px 10px;
  margin-bottom: 10px;
}
