@value sock-brown, white-color  from './common/colors.css';

.search-bar-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 250px;
  margin-bottom: 0px;
  height: 30px;
}

.search-btn {
  background-color: sock-brown;
  border-radius: 3px;
  padding: 3px 10px;
  color: white-color;
  margin-bottom: 4px;
}

.theme-select-btn {
  background-color: sock-brown;
  color: white-color;
}

/* 필터 아이콘 */
.filter-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.filter-btn {
  color: sock-brown;
}

/* 인기검색 */
.popular-container {
  background-color: sock-brown;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.popular-list > li {
  color: white;
  padding: 10px;
}
