@value sock-brown, sock-yellow, white-color  from './common/colors.css';

.search-bar-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 65%;
  margin-bottom: 0px;
  height: 30px;
  margin-right: 10px;
}

.search-btn {
  background-color: sock-brown;
  border-radius: 3px;
  padding: 3px 10px;
  color: white-color;
  height: 30px;
}

.theme-select-btn {
  background-color: sock-brown;
  color: white-color;
}

/* 필터 아이콘 */
.filter-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.filter-btn {
  color: sock-brown;
}

/* 인기검색 */
.popular-container {
  background-color: sock-brown;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.popular-list > li {
  color: white;
  padding: 10px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.selected {
  background-color: sock-brown;
  padding: 5px 10px;
  color: white-color;
  border-radius: 100px;
  background-color: sock-yellow;
  color: sock-brown;
  font-size: 13px;
  margin-left: 4px;
}

.sort > button {
  margin-left: 4px;
}
.bold {
  font-weight: 700;
}
