@value sock-brown, sock-yellow, white-color  from './common/colors.css';

.search-bar-conatiner {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.search-bar {
  width: 65%;
  margin-bottom: 0px;
  height: 30px;
  margin-right: 10px;
}

.search-btn {
  background-color: sock-brown;
  border-radius: 3px;
  padding: 3px 10px;
  color: white-color;
  height: 30px;
  /* overflow: hidden; */
  word-break: break-all;
  white-space: pre-wrap;
}

.search-word {
  word-break: break-all;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  /* overflow: auto; */
  width: 30px;
}

.theme-select-btn {
  background-color: sock-brown;
  color: white-color;
  margin-right: 5px;
}

/* 필터 아이콘 */
.filter-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.filter-btn {
  color: sock-brown;
}

/* 인기검색 */
.popular-container {
  background-color: #008bcf;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.popular-list > li {
  border-radius: 10px;
  background-color: sock-brown;
  color: whitesmoke;
  padding: 10px;
  margin: 10px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* .selected {
  padding: 5px 10px;
  color: white-color;
  border-radius: 100px;
  background-color: sock-yellow;
  color: sock-brown;
  font-size: 13px;
  margin-left: 4px;
  margin-bottom: 10px;
} */
.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid sock-brown;
  border-radius: 100px;
  margin: 4px 6px 4px 0px;
  padding: 5px 10px;
  width: max-content;
  background-color: sock-brown;
  color: white-color;
  height: 30px;
}

.selected > img {
  height: 100%;
}

.selected-icon-container {
  display: flex;
  flex-wrap: wrap;
}

.sort > button {
  margin-left: 4px;
}
.bold {
  font-weight: 700;
}
