@value sock-background, sock-line, sock-brown, white-color  from './common/colors.css';
.snack-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 70vh;
  background-color: sock-background;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.bar-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 80%;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 3px 10px;
  background-color: lightcyan;
}
.close-btn {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin-top: 10px;
}

.tag-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  overflow-y: auto;
  white-space: nowrap;
  display: inline-flex;
  width: 100%;
}

.tag-container {
  display: inline-flex;
  align-items: center;
  margin: 0px 10px;
  padding: 6px 8px;
  border-radius: 10px;
  margin-right: 4px;
  border-bottom: 1px solid sock-line;
  width: 100%;
}

.tag-container > img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  object-fit: cover;
  margin-right: 4px;
}

.tag-container > span {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-delete-btn {
  color: white;
}
