@value sock-brown: #40210F;

@value kakao-color: #fee500;
@value naver-color: #03c75a;
@value google-color: #fff;
@value white-color: #efefef;

/* 네브바 스프링클 */
@value sprinkle-blue: #66FFE3;
@value sprinkle-yellow: #F6CE4E;
@value sprinkle-pink: #FF8A8A;
